<div class="row">
  <div class="col-sm-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Add</a></li>
        <li><a class="dropdown-item" href="#">Edit</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-white bg-danger" href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
